/* Fonter */
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.nav-color {
    background: linear-gradient(90deg, rgb(98, 161, 255) 0%, rgb(89, 89, 255) 90%);
}

.nav-space {
    margin: 20px;
    padding: 5px;
}

.nav {
    box-sizing: border-box;
    display: block;
    background-color: var(--main-color, var(--default-color, --white));
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 20px;
    margin-bottom: 15px;
}

.nav h1{
    font-family: 'Lovers Quarrel', cursive !important;
    font-size: 3rem;
}

.fixed-nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

/*Center*/
.white-text {
    color: white;
}

.center {
    text-align: center;
}

.no-padding {
    padding: 0;
    margin: 0;
}
#sidenav {
    position: absolute;
    top: 0;
    display: none;
    height: 100%;
    width: 30%;
    background: linear-gradient(90deg, rgb(194, 194, 194) 0%, rgba(255, 255, 255, 0) 90%);
}
#sidenavContent {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.full {
    opacity: 1;
}

.shade {
    opacity: 0.5;
}

#content {
    transition: 1s;
}

/* Cards */

.character {
    margin: 20px 2px;
    text-align: center;
    display: inline-block;
    background: #fafafa;
    box-shadow: 8px 5px 76px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 300px;
}

.card-img {
    position: relative;
    height: 60%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.space {
    margin: 2rem;
}

main {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    max-width: 1200px;
    display: block;
    margin: auto;
}

/* Footer */
footer {
    width: 100vw;
    height: 20vh;
    background: #f67280;
}

footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}